h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    text-align: center;
    width : 50% ;
}
div{
    height : 100px ;
    width : 700px ;
}